<template>
  <v-layout row justify-center>
    <v-dialog v-model="modal" width="500px">
      <v-btn color="primary" dark slot="activator">Buy it</v-btn>
      <v-card>
        <v-card-title class="headline text-xs-center">Payment is possible only by card! 21st century in the yard!</v-card-title>
        <v-text-field
          class="text-field"
          v-model="name"
          :rules="[v => !!v || 'Name is required']"
          label="Name"
          required
        ></v-text-field>
        <v-text-field
          class="text-field"
          v-model="cardNumber"
          :rules="[v => !!v || 'Card Number is required']"
          label="Card Number"
          required
        ></v-text-field>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green flat darken-1"
            flat
            @click="onClose"
            :disabled="localLoading"
          >
            Close
          </v-btn>
          <v-btn
            color="blue"
            @click="buy"
            :disabled="localLoading"
            :loading="localLoading"
          >Buy</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
export default {
  props: ['app'],
  data () {
    return {
      modal: false,
      name: '',
      cardNumber: '',
      localLoading: false
    }
  },
  methods: {
    onClose () {
      this.name = ''
      this.cardNumber = ''
      this.modal = false
    },
    buy () {
      if (this.name !== '' && this.cardNumber !== '') {
        this.localLoading = true
        this.$store.dispatch('createOrder', {
          name: this.name,
          cardNumber: this.cardNumber,
          id: this.app.id
        })
          .finally(() => {
            this.name = ''
            this.cardNumber = ''
            this.localLoading = false
            this.modal = false
          })
      }
    }
  }
}
</script>

<style scoped>
  .text-field {
    padding: 0 40px;
  }
</style>
