<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <h1 class="mb-3">Orders</h1>
        <v-list
          subheader
          two-line
        >

          <v-list-tile
            v-for="order in orders"
            :key="order.id"
          >
            <v-list-tile-action>
              <v-checkbox
                color="success"
              ></v-checkbox>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>{{ order.nameGame }}</v-list-tile-title>
              <v-list-tile-sub-title>{{ order.price }}</v-list-tile-sub-title>
            </v-list-tile-content>

            <v-list-tile-action>
              <v-btn
                :to="'/app/' + order.appId"
                class="success"
              >
                Open</v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      orders: [
        {
          id: 'asd',
          nameGame: 'Dota2',
          price: '100$',
          appId: 11,
          done: false
        }
      ]
    }
  }
}
</script>
