<template>
  <div>
    <v-container fluid>
      <v-layout row>
        <v-flex xs12>
          <v-carousel>
            <v-carousel-item
              v-for="app in onPromoAll"
              :key="app.id"
              :src="app.imgSrc"
            >
              <div class="open-app">
                <v-btn
                  class="error"
                  :to="'/app/' + app.id"
                >
                  {{ app.title }}
                </v-btn>
              </div>
            </v-carousel-item>
          </v-carousel>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container
      grid-list-lg
    >
      <v-layout row wrap>
        <v-flex
          xs12
          sm6
          md4
          v-for="app in appsAll"
          :key="app.id"
        >
          <v-card>
            <v-img
              :src="app.imgSrc"
              height="200px"
            ></v-img>

            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0"> {{ app.title }} </h3>
                <div> {{ app.description }} </div>
              </div>
            </v-card-title>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                flat
                color="success"
                :to="'/app/' + app.id"
              >
                Open</v-btn>
              <app-buy-modal :app="app"></app-buy-modal>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  computed: {
    appsAll () {
      return this.$store.getters.app
    },
    onPromoAll () {
      return this.$store.getters.onPromo
    }
  }
}
</script>

<style scoped>
  .open-app {
    padding: 5px 15px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, .5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
</style>
