<template>
  <v-app>
    <v-navigation-drawer app color="primary" temporary v-model="drawer">
      <v-list>
        <v-list-tile
          v-for="link in links"
          :to="link.url"
          :key="link.title"
        >
          <v-list-tile-action>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title v-text="link.title"></v-list-tile-title>
          </v-list-tile-content>

        </v-list-tile>
        <v-list-tile
          v-if="isLoggedIn"
          @click="logOut"
        >
          <v-list-tile-action>
            <v-icon>exit_to_app</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title v-text="'Logout'"></v-list-tile-title>
          </v-list-tile-content>

        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app dark color="primary">
      <v-toolbar-side-icon
              @click="drawer = !drawer"
              class="hidden-md-and-up"
      ></v-toolbar-side-icon>
      <v-toolbar-title>
        <router-link
          tag="span"
          to="/"
          class="pointer"
        >
          App Shop
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn
          v-for="link in links"
          :to="link.url"
          :key="link.title"
          class="hidden-sm-and-down"
          flat
        >
          <v-icon left>{{ link.icon }}</v-icon>
          {{ link.title }}
        </v-btn>
        <v-btn
          @click="logOut"
          v-if="isLoggedIn"
          class="hidden-sm-and-down"
          flat
        >
          <v-icon left>exit_to_app</v-icon>
          Logout
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
    <template v-if="error">
      <v-snackbar
        :bottom="true"
        :multi-line="true"
        :timeout="5000"
        color="error"
        :value="true"
      >
        {{ error }}
        <v-btn
          dark
          flat
          @click="closeError"
        >
          Close
        </v-btn>
      </v-snackbar>
    </template>
  </v-app>
</template>

<script>

export default {
  data () {
    return {
      drawer: false
    }
  },
  computed: {
    error () {
      return this.$store.getters.error
    },
    isLoggedIn () {
      return this.$store.getters.isLoggedIn
    },
    links () {
      if (this.isLoggedIn) {
        return [
          { title: 'New app', icon: 'note_add', url: '/new' },
          { title: 'My app', icon: 'list', url: '/list' }
        ]
      } else {
        return [
          { title: 'Login', icon: 'lock', url: '/login' },
          { title: 'Registration', icon: 'face', url: '/registration' }
        ]
      }
    }
  },
  methods: {
    closeError () {
      this.$store.dispatch('setClear')
    },
    logOut () {
      this.$store.dispatch('logOut')
      this.$router.push('/')
    }
  }
}
</script>

<style scoped>
  .pointer {
    cursor: pointer;
  }
</style>
