<template>
  <v-container>
    <v-layout row>
      <v-flex xs8 offset-xs2>
        <v-card>
          <v-img
            :src="app.imgSrc"
            height="300px"
          ></v-img>
          <v-card-text>
            <h2>{{ app.title }}</h2>
            <p>{{ app.description }}</p>
          </v-card-text>
          <v-card-actions>
            <app-buy-modal :app="app"></app-buy-modal>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  props: ['id'],
  computed: {
    app () {
      const id = this.id
      return this.$store.getters.appById(id)
    }
  }
}
</script>
