<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm10 offset-sm1>
        <h1 class="mb-3">My App List</h1>
        <v-card row
                class="mb-3 elevation-10"
                v-for="app of myApp"
                :key="app.id"
        >
          <v-layout>
            <v-flex xs4>
              <v-img
                :src="app.imgSrc"
                height="155px"
              >
              </v-img>
            </v-flex>
            <v-flex xs8>
              <v-card-text>
                <h2>{{ app.title }}</h2>
                <p>{{ app.description }}</p>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  :to="'/app/' + app.id"
                  color="success"
                >
                  Open
                </v-btn>
              </v-card-actions>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  computed: {
    myApp () {
      return this.$store.getters.myApp
    }
  }
}
</script>
