<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <h1>Add your App</h1>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
        >
          <v-text-field
            v-model="title"
            :rules="[v => !!v || 'Title is required']"
            label="Title"
            required
          ></v-text-field>

          <v-textarea
            v-model="description"
            :rules="[v => !!v || 'Description is required']"
            label="Description"
            required
          ></v-textarea>
        </v-form>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-btn
          color="primary"
          @click="triggerClick"
        >
          <v-icon left>cloud_upload</v-icon>
          Upload preview
        </v-btn>
        <input
          type="file"
          ref="fileInput"
          style="display: none;"
          accept="image/*"
          @change="onFileChange"
        >
        <v-img
          v-if="imageSrc"
          :src="imageSrc"
        ></v-img>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-switch
          color="primary"
          v-model="promo"
          label="Upload to store"
        ></v-switch>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-btn
          :disabled="!valid || loading"
          :loading="loading"
          @click="uploadToStore"
          color="success"
        >
          Upload
        </v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      title: '',
      description: '',
      valid: false,
      promo: false,
      image: null,
      imageSrc: ''
    }
  },
  computed: {
    loading () {
      return this.$store.getters.loading
    }
  },
  methods: {
    uploadToStore () {
      if (this.$refs.form.validate()) {
        const info = {
          title: this.title,
          description: this.description,
          promo: this.promo,
          image: this.image
        }
        this.$store.dispatch('createApp', info)
          .then(() => {
            this.$router.push('/list')
          })
          .catch(() => {})
      }
    },
    triggerClick () {
      this.$refs.fileInput.click()
    },
    onFileChange (e) {
      const file = e.target.files[0]
      const reader = new FileReader()
      reader.onload = e => {
        this.imageSrc = reader.result
      }
      reader.readAsDataURL(file)
      this.image = file
    }
  }
}
</script>
